.services-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    transition: all ease-in-out .3s;
}

.services-container label {
    font-size: 18px;
    transition: all ease-in-out .3s;
}

.services-list {
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 14px;
    transition: all ease-in-out .3s;
}

.services-list > * {
    border-radius: 20px;
    transition: all ease-in-out .3s;
}